global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend tls_mux
    bind 10.0.0.138:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    use_backend caddy_tls if { req.ssl_sni -i berlin2003.ccwu.cc }
    default_backend xray_tls

backend caddy_tls
    mode tcp
    server caddy 127.0.0.1:443 check

backend xray_tls
    mode tcp
    server xray 127.0.0.1:1443 check
